.desc{
    color:#666;
}
.ex{
    margin:40px 0;
}
.code{
    border-top: 1px solid #e6e6e6;
    position: relative;
}
.mt30{
    margin-top: 20px;
}
.mt60{
    margin-top: 60px;
}
.title{
    position: absolute;
    cursor: pointer;
    top: -14px;
    left: 10px;
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
    background-color: #fff;
    font-size: 12px;
    color: #999;
}